/*
 * Copyright (c) 2022-2023, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/ {
	tegra-capture-vi  {
		num-channels = <2>;
		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			port@0 {
				reg = <0>;
				toshiba_tc358743_vi_in0: endpoint {
					port-index = <0>;
					bus-width = <2>;
					remote-endpoint = <&toshiba_tc358743_csi_out0>;
				};
			};
			port@1 {
				reg = <1>;
				toshiba_tc358743_vi_in1: endpoint {
					port-index = <2>;
					bus-width = <2>;
					remote-endpoint = <&toshiba_tc358743_csi_out1>;
				};
			};
		};
	};

	host1x@13e00000 {
		nvcsi@15a00000 {
			num-channels = <2>;
			#address-cells = <1>;
			#size-cells = <0>;
			channel@0 {
				reg = <0>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						toshiba_tc358743_csi_in0: endpoint@0 {
							port-index = <0>;
							bus-width = <2>;
							remote-endpoint = <&toshiba_tc358743_out0>;
						};
					};
					port@1 {
						reg = <1>;
						toshiba_tc358743_csi_out0: endpoint@1 {
							remote-endpoint = <&toshiba_tc358743_vi_in0>;
						};
					};
				};
			};
			channel@1 {
				reg = <1>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						toshiba_tc358743_csi_in1: endpoint@2 {
							port-index = <2>;
							bus-width = <2>;
							remote-endpoint = <&toshiba_tc358743_out1>;
						};
					};
					port@1 {
						reg = <1>;
						toshiba_tc358743_csi_out1: endpoint@3 {
							remote-endpoint = <&toshiba_tc358743_vi_in1>;
						};
					};
				};
			};
		};
	};

	cam_i2cmux {
		i2c@0 {
			tc358743_cam0: toshiba_tc358743_a@0f {
				compatible = "toshiba,tc358743";
				/* I2C device address */
				reg = <0x0f>;

				/* V4L2 device node location */
				devnode = "video0";

				/* Physical dimensions of sensor */
				physical_w = "3.680";
				physical_h = "2.760";

				sensor_model = "tc358743";

				use_sensor_mode_id = "true";

				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						toshiba_tc358743_out0: endpoint {
							port-index = <0>;
							bus-width = <2>;
							remote-endpoint = <&toshiba_tc358743_csi_in0>;
						};
					};
				};
			};
		};
		i2c@1 {
			tc358743_cam1: toshiba_tc358743_c@0f {
				compatible = "toshiba,tc358743";
				/* I2C device address */
				reg = <0x0f>;

				/* V4L2 device node location */
				devnode = "video1";

				/* Physical dimensions of sensor */
				physical_w = "3.680";
				physical_h = "2.760";

				sensor_model = "tc358743";

				use_sensor_mode_id = "true";

				refclk_hz = <27000000>;  // refclk_hz -> regclk

				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						toshiba_tc358743_out1: endpoint {
							/*port-index = <2>;*/
							port-index = <0>; /* CSI B */
							bus-width = <2>; /* Use CSI-B only */
							data-lanes = <1 2>;
							clock-lanes = <0>;
							clock-noncontinuous;
							link-frequencies = /bits/ 64 <297000000>;
							/*link-frequencies = /bits/ 64 <148500000>;*/
							remote-endpoint = <&toshiba_tc358743_csi_in1>;
						};
					};
				};
			};
		};
	};
};

/ {
	tegra-camera-platform {
		compatible = "nvidia, tegra-camera-platform";

		/**
		* Physical settings to calculate max ISO BW
		*
		* num_csi_lanes = <>;
		* Total number of CSI lanes when all cameras are active
		*
		* max_lane_speed = <>;
		* Max lane speed in Kbit/s
		*
		* min_bits_per_pixel = <>;
		* Min bits per pixel
		*
		* vi_peak_byte_per_pixel = <>;
		* Max byte per pixel for the VI ISO case
		*
		* vi_bw_margin_pct = <>;
		* Vi bandwidth margin in percentage
		*
		* max_pixel_rate = <>;
		* Max pixel rate in Kpixel/s for the ISP ISO case
		*
		* isp_peak_byte_per_pixel = <>;
		* Max byte per pixel for the ISP ISO case
		*
		* isp_bw_margin_pct = <>;
		* Isp bandwidth margin in percentage
		*/
		num_csi_lanes = <4>;
		max_lane_speed = <1500000>;
		min_bits_per_pixel = <10>;
		vi_peak_byte_per_pixel = <2>;
		vi_bw_margin_pct = <25>;
		max_pixel_rate = <7500000>;
		isp_peak_byte_per_pixel = <5>;
		isp_bw_margin_pct = <25>;

		/**
		 * The general guideline for naming badge_info contains 3 parts, and is as follows,
		 * The first part is the camera_board_id for the module; if the module is in a FFD
		 * platform, then use the platform name for this part.
		 * The second part contains the position of the module, ex. "rear" or "front".
		 * The third part contains the last 6 characters of a part number which is found
		 * in the module's specsheet from the vendor.
		 */
		modules {
			module0 {
				badge = "jakku_front_TOSHIBA";
				position = "front";
				orientation = "1";
				drivernode0 {
					pcl_id = "v4l2_sensor";
					devname = "tc358743 9-000f";
					proc-device-tree = "/proc/device-tree/cam_i2cmux/i2c@0/toshiba_tc358743_a@0f";
				};
			};
			module1 {
				badge = "jakku_rear_TOSHIBA";
				position = "rear";
				orientation = "1";
				drivernode0 {
					pcl_id = "v4l2_sensor";
					devname = "tc358743 10-000f";
					proc-device-tree = "/proc/device-tree/cam_i2cmux/i2c@1/toshiba_tc358743_c@0f";
				};
			};
		};
	};
};
